body{
    background-color: rgb(154, 231, 227);
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    background-color: lightseagreen;
    padding: 15px;
}

#right{
    margin-right: 20px;
}

#h14, #h24{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
    margin-bottom: 25px;
    color: darkcyan;
}

#snapshot{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

label{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thing{
    background-color: darkcyan;
    color: whitesmoke;
}